/* Font Definitions */
@font-face {
    font-family: Wingdings;
    panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
    font-family: "Cambria Math";
    panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
    font-family: "Calibri Light";
    panose-1: 2 15 3 2 2 2 4 3 2 4;
}

@font-face {
    font-family: "Lucida Sans";
    panose-1: 2 11 6 2 3 5 4 2 2 4;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8.0pt;
    margin-left: 0cm;
    line-height: 140%;
}

h1 {
    margin-top: 12.0pt;
    margin-right: 0cm;
    margin-bottom: 12.0pt;
    margin-left: 0cm;
    page-break-after: avoid;
    color: #328D9F;
    font-size: 1.8rem;
    font-weight: 400;
}

h2 {
    margin-top: 2.0pt;
    margin-right: 0cm;
    margin-bottom: 12.0pt;
    margin-left: 0cm;
    page-break-after: avoid;
    color: #328D9F;
    font-size: 1.3rem;
    font-weight: 400;
}

h6 {
    margin-top: 2.0pt;
    margin-right: 0cm;
    margin-bottom: 12.0pt;
    margin-left: 0cm;
    page-break-after: avoid;
    color: #215D6A;
    font-size: 1.2rem;
    font-weight: 400;
}

p.MsoTitle, li.MsoTitle, div.MsoTitle {
    margin: 0cm;
    font-size: 2.5rem;
    letter-spacing: -.5pt;
    font-weight: 400;
}

p.MsoTitleCxSpFirst, li.MsoTitleCxSpFirst, div.MsoTitleCxSpFirst {
    margin: 0cm;
    margin-bottom: .0001pt;
    font-size: 28.0pt;
    font-family: "Calibri Light",sans-serif;
    letter-spacing: -.5pt;
}

p.MsoTitleCxSpMiddle, li.MsoTitleCxSpMiddle, div.MsoTitleCxSpMiddle {
    margin: 0cm;
    margin-bottom: .0001pt;
    font-size: 28.0pt;
    letter-spacing: -.5pt;
}

p.MsoTitleCxSpLast, li.MsoTitleCxSpLast, div.MsoTitleCxSpLast {
    margin: 0cm;
    margin-bottom: .0001pt;
    font-size: 28.0pt;
    letter-spacing: -.5pt;
}

a:link, span.MsoHyperlink {
    color: blue;
    text-decoration: underline;
}

p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8.0pt;
    margin-left: 36.0pt;
}

p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    margin-left: 36.0pt;
    margin-bottom: 0.3rem;
}

p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-left: 36.0pt;
    margin-bottom: 0.3rem;
}

p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 0.3rem;
    margin-left: 36.0pt;
}

span.TitleChar {
    letter-spacing: -.5pt;
}

span.Heading1Char {
    color: #328D9F;
}

span.Heading2Char {
    color: #328D9F;
}

span.Heading6Char {
    color: #215D6A;
}

p.Code, li.Code, div.Code {
    margin: 0;
    line-height: 1.7;
    background: #E5E5E5;
    font-size: 9.0pt;
    font-family: Consolas;
    border-left: 5pt solid yellow;
}

span.CodeChar {
    font-family: "Lucida Sans",sans-serif;
    background: #E5E5E5;
}

.MsoPapDefault {
    margin-bottom: 8.0pt;
}

@page WordSection1 {
    size: 595.3pt 841.9pt;
    margin: 72.0pt 72.0pt 72.0pt 72.0pt;
}

div.WordSection1 {
    page: WordSection1;
}
/* List Definitions */
ol {
    margin-bottom: 0cm;
}

ul {
    margin-bottom: 0cm;
}
